
* {
    font-family: Quicksand;
}

body {
    
}

.add-myself-button {
    padding: 40px;
    font-size: 45px;
    background-color: rgb(191,155,48);
    border: none;
    color: white;
    cursor: pointer;
    width: 600px;
}

.add-myself-button:hover {
    transform: skew(-12deg);
}

.add-myself-div {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.opening-div {
    display: flex;
    flex-direction: column;
    column-gap: 50px;
    margin-top: 200px;
}

